.signup{
    background-color: #ededed;
}
.heading-section{
    padding-top: 8em;
    margin-bottom: 4em;
    text-align: center;
}
.heading-section h1,
.heading-section p{
    margin: 0%;
    padding: 0%;
}
.sign-up-form form{
    width:25%;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}
.sign-up-form label{
    text-align: left;
    justify-content: left;
}
.sign-up-form form input {
    width: 20rem;
    height: 2.3rem;
    margin-top: 0.4rem;
    margin-bottom: 1em;
    border-radius: 0.6rem;
    border: 1px solid #3164f4;
    padding-left: 1rem;
}
.sign-up-form form button {
    background: #3164f4;
    border: 0;
    border-radius: 0.8rem;
    height: 2.5rem;
    font-size: 0.9rem;
    color: white;
    width: 10rem;
    text-align: center;
    margin: 2em auto;
}
.eclipse-image{
    position: absolute;
    top: 20vh;
    width: 40%;
}
@media screen and (max-width:900px){
    .sign-up-form form{
        width: 30%;
    }
}
@media screen and (max-width:650px){
    .sign-up-form form{
        width: 60%;
    }
    .eclipse-image{
        display: none;
    }
}